<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.JN.mapper.PointMapper">


    <select id="getTravelPointsMList" parameterType="int" resultType="com.JN.dto.TravelDTO">
        SELECT * FROM travel LIMIT #{limit} OFFSET #{page}

    </select>
</mapper>
